# FRONTEND
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/logs
frontend/*.log
frontend/*.local
frontend/.DS_Store
frontend/cypress/videos/
frontend/cypress/screenshots/
frontend/.idea
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/package-lock.json

# Ignorar archivos temporales y de configuración
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
frontend/*.tsbuildinfo
frontend/.prettierrc.json
frontend/eslint.config.js
frontend/jsconfig.json

# Ignorar iconos y archivos generados
frontend/src/components/icons/ComputerScience.png

# BACKEND
backend/.gradle/
backend/build/
backend/bin/
backend/logs/
backend/.idea
backend/.vscode/
backend/.classpath
backend/.project
backend/.settings/
backend/*.iml

# Ignorar archivos temporales globales
*.log
*.tmp
*.swp
.DS_Store
backend/gradle/wrapper/gradle-wrapper.jar
